<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Mi increíble página web</title>
        <meta name="description" content="El texto aquí describe de qué se trata la página web. Esta es un html puro, para 
        estudios y el trabajo del Bootcamp es lo que aparecerá en los resultados de búsqueda en motores de búsqueda como Google,
        bajo el título de la página web. ¡Es importante que esto sea relevante para tu página y esté bien escrito!">
        <link rel="stylesheet" href="../css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="../js/ESTEJSNOEXISTE-ESTEST.js"></script>
        
    </head>
    <body style="background-color:rgba(0,128,0,0.4);">
        <script src="../js/ninja.js"></script>
        <!-- <script type="text/javascript">
            // TEXTO 1 ORIGINAL
            //             var leftValue = 450, topValue = 100;
            
            // function update(){
            //     // Limitar el valor de leftValue entre 0 y 500
            //     if (leftValue < 0) {
            //         leftValue = 0;
            //     } else if (leftValue > 500) {
            //         leftValue = 500;
            //     }
            //     // Limitar el valor de topValue entre 0 y 500
            //     if (topValue < 0) {
            //         topValue = 0;
            //     } else if (topValue > 500) {
            //         topValue = 500;
            //     }

            //     document.getElementById("character").style.left = leftValue+"px";
            //     document.getElementById("character").style.top = topValue+"px";
            // }

            // document.onkeydown = function(e){
                
            //     console.log(e);
            //     if(e.keyCode == 37) { // LEFT
            //         leftValue = leftValue - 10;
            //     }
            //     else if (e.keyCode == 39) { // RIGHT
            //         leftValue = leftValue + 10;    		
            //     }
            //     else if (e.keyCode == 40) { // DOWN
            //         topValue = topValue + 10;
            //     }
            //     else if(e.keyCode == 38) { //UP
            //         topValue = topValue - 10;
            //     }
            //     update();
            // }
            //     var leftValue = 150;
            //     var topValue = 150;
            //     var walkValue = 1;



            //     document.onkeydown = function(e){
            //     // console.log(e);
            //     if(leftValue<0 && topValue<0){
            //         leftValue = 0;
            //         topValue = 0;
            //     }
            //     else{
            //     if (walkValue == 1){
            //     walkValue = 2;
            //     }
            //     else if (walkValue == 2){
            //     walkValue = 1;
            //     }
            //     if(e.keyCode == 37){ // Left
            //     leftValue = leftValue - 10; //DECLARE LEFTVALUE ACTUAL VALUE - 10
            //     document.getElementById("character").style.left = leftValue+"px"; //MOVE CHARACTER TO LEFTVALUE PIXELS
            //     document.getElementById("character").style.backgroundImage =
            //     "url('../img/left"+walkValue+".png')"; //DECLARE IMAGE (IT SWITCH WITH WALKVALUE)
            //     }
            //     else if (e.keyCode == 39){ // Right
            //     leftValue = leftValue + 10; //DECLARE LEFTVALUE ACTUAL VALUE + 10
            //     document.getElementById("character").style.left = leftValue+"px"; //MOVE CHARACTER TO LEFTVALUE PIXELS
            //     document.getElementById("character").style.backgroundImage =
            //     "url('../img/right"+walkValue+".png')"; //DECLARE IMAGE(IT SWITCH WITH WALKVALUE)
            //     }
            //     else if (e.keyCode == 38){ // Top
            //     topValue = topValue - 10;// DECLARE TOPVALUE ACTUAL VALUE - 10
            //     document.getElementById("character").style.top = topValue+"px";
            //     document.getElementById("character").style.backgroundImage =
            //     "url('../img/top"+walkValue+".png')";
            //     }
            //     else if (e.keyCode == 40){ // Bottom
            //     topValue = topValue + 10;
            //     document.getElementById("character").style.top = topValue+"px";
            //     document.getElementById("character").style.backgroundImage =
            //     "url('../img/down"+walkValue+".png')";
            //     }
            //     }
            // }
        </script> -->
        <header>
            <ul class="nav nav-tabs navpers ">
                <li class="nav-item">
                    <a href="../Templates/Palma_Fabian_VS_asignacion_1.html" class="nav-link" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="../Templates/Jsfiles.html" class="nav-link ">JS IN HTML</a>
                </li>
                <li class="nav-item ">
                    <a href="../Templates/ninja.html" class="nav-link active">NINJA</a>
                </li>
                <li class="nav-item ">
                    <a href="../Templates/Diagram.html" class="nav-link">Diagramas T</a>
                </li>
            </ul>
        </header>
        <main>
            <div id='background'>
                <div id='character' style='position:absolute; top:100px; left:450px; background-image: 
               url("../img/down1.png"); width:59px; height:86px;'>
               </div>
            </div>
        </main>
        <footer>
            
            <script src="../js/PALMA_FABIAN.js"></script>
            <script src="../js/Desafio_codigo.js"></script>
            <script src="../js/Return.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>    
            <div class="foot1 footer">
                <div class="foot2 footer">
                    <div class="row">
                        <div class="col-2">

                        </div>
                        <div class="col-3">
                            <ul>
                                <p>Creditos para</p>
                                <li>Fabian Palma</li>
                                <li>2023 &#64; Creditos registrados</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <ul>
                                <p>SE PRESENTA CODIGO PARA</p>
                                <li>CODING DOJO</li>
                                <li>FUNDACION FORGE</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <ul>
                                <p>Logos</p>
                                <li><img class="imgli" src="https://www.fondationforge.org/aws-chile/images/Logo-sin%20solapa_blanco-01.png" alt=""> <img class="imgli" src="https://learn.codingdojo.com/assets/coding_dojo_logo_white.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </footer>
    </body>
</html>